<% include ../partials/header %>

<% include ../partials/paginate %>

<div class="container">
        <% astroVar.docs.forEach(function(astro){ %>
                <div class="content">
                        <div class="fullpage-image">
                                <img src="<%= astro.image %>" alt="">
                        </div>
                        <div class="post-content">
                                <h3 class="title-fullpage"><a href="/astro/<%= astro._id %>" class="title-fullpage"><%= astro.title.substring(0, 20) %>...</a></h3>
                                <p><%= astro.description.substring(0, 20) %>...</p>
                                <a href="/astro/<%= astro._id %>">Show More</a>
                        </div>
                </div>
        <% }); %>
</div>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Astrodaily -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3011282954418249"
     data-ad-slot="4615775894"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<% include ../partials/paginate %>
